.benefits {
  padding-top: 65px;
  padding-bottom: 70px;
  background-color: @yellow;
}

.benefits__list {
  .reset();
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.benefits__item {
  width: 25%;
  text-align: center;
  
  p {
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  &:last-child,
  &:first-child {
    p {
      max-width: 75%;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.benefits__icon {
  width: 132px;
  height: 132px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgb(255, 201, 0);
  
  img {
    display: block;
  }
}
