.brand {
  position: relative;
  z-index: 10;
//  margin-top: -100px;
  margin-bottom: 40px;
}

.brand__slide {
  width: 184px;
  height: 111px;
  box-sizing: border-box;
}

.brand__link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(250, 250, 250);
  .transition();
  
  &:hover,
  &:active {
    border-color: @yellow;
    .transition();
  }
}
